@import '../core.scss';

footer {
    background: $dark;
    color: $white;
    position: relative;
    min-height: 40rem;
    overflow: hidden;

    .green_stick {
        position: absolute;
        bottom: 0;
        left: 49%;
        transform: translateX(-50%);
        width: 100%;

        svg {
            max-width: 43.1rem;
            width: 102%;
            height: auto;
            display: block;
            margin: 0 auto;
            transform: rotate(180deg);

            g {
                path {
                    fill: $green;
                }
            }
        }
    }

    .cont_box {
        position: absolute;
        bottom: 1.5rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $white;
        img{
            width: 14rem;
        }
    }

    .box_items {
        margin-top: 5rem;

        .left {
            display: flex;
            font-weight: 900;
            justify-content: center;

            a {
                margin-right: 0.5rem;
                color: $green;
                transition: all 0.3s;

                &:hover {
                    color: $white;
                }
            }

            p {
                color: #717171;
            }
        }
    }

}


@media (min-width: 1024px) {
    footer {
        min-height: 37rem;

        .green_stick {
            left: unset;
            transform: unset;


            svg {
                max-width: 41.1rem;
                width: 100%;
            }
        }

        .box_items {
            margin-top: 23rem;

            .left {
                justify-content: flex-start;
            }
        }
    }
}