@import '../core.scss';

.header {
    // position: fixed;
    width: 100%;
    z-index: 250;
    transition: .4s all;
    background: beige;

    .btn__green {
        width: 12.6rem;
    }

    .btn__white {
        display: none;
    }

    .wrap__nav {
        padding-right: 1rem;
        padding-left: 1.2rem;
    }

    .main-nav {
        height: 7rem;
        display: grid;
        grid-template-columns: 2.4rem 5fr 1fr;
        align-items: center;
        align-content: center;
        justify-items: start;
        justify-content: space-between;



        .header__logo {
            display: flex;
            align-items: center;
            z-index: 10;
            color: #000;
            font-family: 'Inter';
            font-style: normal;
            font-size: 1.8rem;
            line-height: 2.2rem;
            margin-left: 2.4rem;
        }

        .nav-box-btn {
            position: relative;
            z-index: 5;
        }

        .header__nav {
            .btn__white {
                display: block;
                width: 9rem;
            }

            .navbar {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding-top: 8.1rem;
                position: fixed;
                height: 100vh;
                width: 100vw;
                left: 100vw;
                top: 0;
                transition: 0.6s;
                background-color: $white;
                padding-left: 1rem;

                .jmenu {
                    margin-top: 9.2rem;
                    margin-bottom: 3.4rem;

                    ul {
                        letter-spacing: 1px;
                        text-transform: uppercase;
                        font-weight: 500;
                        line-height: 1.8rem;

                        li {
                            margin-bottom: 3rem;

                            a {
                                transition: all 0.3s;

                                &:hover {
                                    color: $green;
                                }
                            }

                        }

                        .active {
                            margin-bottom: 2.7rem;

                            &::after {
                                content: '';
                                display: block;
                                width: 100%;
                                height: 0.3rem;
                                margin-top: 0.6rem;
                                background: $green;
                            }
                        }

                        ul {
                            display: none;
                        }
                    }

                    .jm-dropdown {
                        ul {
                            background: $bgText;
                            padding: 1rem;
                            margin-top: 1rem;
                        }

                        &:hover {
                            ul {
                                display: block;
                            }
                        }
                    }

                    .jm-icon-dropdown {
                        &::after {
                            content: '▾';
                            color: $textDark;
                            font-size: 1.41rem;
                            margin-left: 0.6rem;
                        }
                    }
                }
            }

            .navbar.open {
                left: 0;
            }

        }

        #hamburger-button {
            position: relative;
            z-index: 999;
            width: 2.4rem;
            margin: 0 auto;

            &:hover {
                cursor: pointer;
            }

            >span {
                display: block;
                height: 2px;
                width: 2.4rem;
                margin-bottom: 0.5rem;
                border-radius: 0.3rem;
                background-color: $textColor;
                transition-timing-function: linear;
                transition-duration: 0.6s;

                &:last-of-type {
                    margin-bottom: 0;
                }
            }

        }

        #hamburger-button.open {

            >span {

                &:first-child {
                    transform: translateY(7px) rotate(45deg);
                }

                &:nth-child(2) {
                    transform: translateY(0) rotate(-45deg);
                    opacity: 1;
                }

                &:last-child {
                    transform: translateY(-9px) rotate(-45deg);
                    height: 0;
                    opacity: 0;
                }
            }
        }

        .hamburger__box {
            z-index: 10;
            position: relative;
            align-items: center;
            justify-content: center;
            // width: 36px;
            // height: 36px;
            // padding-top: 8px;
        }

    }
}

//desc
@media (min-width: 1024px) {
    .header {
        width: 100%;

        .btn__green {
            width: 16rem;
        }

        .btn__white {
            display: block;
            width: 9rem;
        }

        .wrap__nav {
            padding-right: 2.5rem;
            padding-left: 2.5rem;
        }

        .main-nav {
            height: 10rem;
            display: flex;
            align-items: center;

            .header__logo {
                width: unset;
                margin-left: 0;

                img {
                    max-width: 100%;
                }
            }


            .nav-box-btn {
                order: 1;
                display: flex;

                .btn__white {
                    margin-right: 1rem;
                }
            }

            .header__nav {
                width: unset;
                display: flex;
                justify-content: center;
                margin-top: 0.6rem;

                .btn__white {
                    display: none;
                }

                .navbar {
                    position: unset;
                    flex-direction: row;
                    justify-content: center;
                    height: unset;
                    width: 100%;
                    background-color: transparent;
                    padding: 0;

                    .jmenu {
                        margin-top: 0rem;
                        margin-bottom: 0rem;

                        ul {

                            li,
                            .active {
                                margin-bottom: 0;
                            }

                            li {
                                margin-right: 3rem;

                                &:last-of-type {
                                    margin-right: 0;
                                }
                            }

                        }

                        li {
                            display: inline-block;
                        }

                        .jm-dropdown {
                            position: relative;
                            margin-bottom: 0;

                            ul {
                                z-index: 5;
                                box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .5);
                                padding: 8px 0;
                                position: absolute;
                                min-width: 100%;
                                margin: 0;

                                li {

                                    a {
                                        display: block;
                                        padding: 8px 16px;
                                        white-space: nowrap;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            // custom hamb
            .hamburger__box {
                display: none;
            }
        }
    }
}

@media (min-width: 1200px) {
    .header {

        .wrap__nav {
            padding-right: 6rem;
            padding-left: 20.5rem;
        }
    }
}