@import '../core.scss';


@media (min-width: 1024px) {
    .single-post {
        display: flex;

        .single-post__img,
        .single-post__box-conten {
            width: 50%;
        }

        .single-post__img {
            height: 40rem;
        }

        .single-post__box-conten {
            padding: 5.9rem 6rem 4rem 6rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }

    .tags {
        display: block;
    }
}