@import '../core';




.warning {
    position: relative;
    background: $textDark;
    padding: 1rem 3.8rem 1.3rem 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .warning-item {
        // margin-bottom: 0.5rem;

        .warning-item__alert {
            display: flex;
            align-items: center;
            color: $yellow;
            font-weight: 700;

            .alert__img {
                display: flex;
                margin-right: 0.4rem;
            }
        }

        .warning-item__link {
            a {
                color: $white;
            }
        }

        .warning-item__desc {
            margin-top: 0.5rem;
        }
    }

    .warning-item__margin {
        margin-right: 1.3rem;
    }

    .warning-close {
        position: absolute;
        top: 1rem;
        right: 1rem;

        .warning-close__img {
            display: flex;
        }
    }
}


@media (min-width: 768px) {
    .warning {
        padding: 0.8rem 3.8rem 0.8rem 2rem;
        justify-content: center;

        .warning-item {
            margin-right: 3.2rem;

            .warning-item__desc {
                margin-top: 0;
            }
        }

        .warning-item__margin {
            order: 1;
            margin-right: 0;
        }
        .warning-close {
            top: 0.8rem;
            right: 1.6rem;
        }
    }
}