/* body{ font-family: 'Lato', sans-serif; text-align: center;}
ul{ margin: 0; padding: 0; } */

.dropdown-container {
    /* margin: 0 auto; */
    width: 220px;
}

.wrapper-dropdown {
    /* Size & position */
    position: relative;
    margin: 0 auto;
    background: #FFFFFF;
    /* Styles */
    border: 3px solid #fff;
    border-radius: 15px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    outline: none;
}

.wrapper-dropdown:after {
    /* Little arrow */
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #fff transparent;
}

.dropdown {
    /* Size & position */
    position: absolute;
    top: 100%;
    left: -3px;
    right: 0;
    /* Styles */
    min-width: 220px;
    border-radius: 0 0 15px 15px;
    border: 0;
    border-top: none;
    border-bottom: none;
    /* Hiding */
    max-height: 0;
    overflow: hidden;
}

.dropdown li {
    padding: 0 10px;
    text-align: left;
}

.dropdown li a {
    display: block;
    text-decoration: none;
    color: #CECECE;
    padding: 10px 0;
}

.dropdown li:last-of-type a {
    border: none;
}

.dropdown li i {
    margin-right: 5px;
    color: inherit;
    vertical-align: middle;
}


/* Hover state */

.dropdown li:hover a {
    color: red;
}


/* Active state */

.dropdown-container.active .wrapper-dropdown {
    border-radius: 5px 5px 0 0;
    box-shadow: none;
    border-bottom: none;
    color: white;
    background: transparent;
}

.dropdown-container.active .dropdown {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    max-height: 400px;
}


/* No CSS3 support */

.no-opacity .wrapper-dropdown .dropdown,
.no-pointerevents .wrapper-dropdown .dropdown {
    display: none;
    opacity: 1;
    /* If opacity support but no pointer-events support */
    pointer-events: auto;
    /* If pointer-events support but no pointer-events support */
}

.no-opacity .dropdown-container.active .dropdown,
.no-pointerevents .dropdown-container.active .dropdown {
    display: block;
}